body{
  max-width: 60rem;
}

#toc{
  width: 20vw;
  min-width: 15rem;
}

#toc>ul{
  position: fixed;
}

.dash-of-style{
  display: flex;
}

code{
  background-color: ghostwhite;
  max-width: 45rem;
}

.clipboard{
  top: 1.75rem;
  left: 39rem;
}

.clipboard:hover{
  background-color: lightgray;
}

.clipboard:active{
  color: white;
  background-color: black;
}

@media (max-width: 890px) {
  #toc{
    display: none;
  }
}
